<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267622323375-a317qumu9fl4mpv46munn60tnm4soeu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267622323375-a317qumu9fl4mpv46munn60tnm4soeu1</string>
	<key>API_KEY</key>
	<string>AIzaSyC9oSMcPzziz_L4VXFEKjHy-Fk46fzOy40</string>
	<key>GCM_SENDER_ID</key>
	<string>267622323375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mydemosecond</string>
	<key>PROJECT_ID</key>
	<string>myfireflutter-5e6db</string>
	<key>STORAGE_BUCKET</key>
	<string>myfireflutter-5e6db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267622323375:ios:d9449c98701e4e4a6d305a</string>
</dict>
</plist>